<div id="cssmenu">
  <ul>
    <!-- Homepage -->
    <li class="active" id="homePageOptions">
      <a id="homepageLink" href="#">
        Home Page
      </a>
    </li>

    <!-- Grey Purchase -->
    <li id="greyOptions">
      <a href="#">Grey Purchase<b class="caret"></b></a>
      <ul>
        <li>
          <a id="newYarnPurchaseLink" href="#" style="color: white">New Grey Purchase</a>
        </li>
        <li>
          <a id="lotNoEntryLink" href="#" style="color: white">Lot No. Entry</a>
        </li>
        <li>
          <a id="allYarnPurchaseLink" href="#" style="color: white">All Grey Purchase</a>
        </li>
      </ul>
    </li>

    <!-- Dyeing -->
    <li id="dyeingOptions">
      <a href="#">
        Dyeing
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="dyeingPendingLink" href="#" style="color: white">Pending in Dyeing</a>
        </li>
        <li>
          <a id="dyeingReceivalLotNoWiseLink" href="#" style="color: white">Lot No. wise Receivals</a>
        </li>
        <!-- <li>
          <a id="dyeingReceivalBillNoWiseLink" href="#" style="color: white">Dyeing Receivals - Bill No. wise</a>
        </li> -->
      </ul>
    </li>

    <!-- Finish -->
    <li id="finishOptions">
      <a href="#">
        Finish
        <b class="caret"></b>
      </a>
      <ul>
        <!-- Opening stock -->
        <li>
          <a href="#" style="color: white">Opening Stock<b class="caret"></b></a>
          <ul>
            <li>
              <a id="openingStockEntryLink" href="#" style="color: white">New Opening Stock Entry</a>
            </li>
            <li>
              <a id="allOpeningStockEntryLink" href="#" style="color: white">All Opening Stock Entries</a>
            </li>
          </ul>
        </li>
        <!-- Finish PO -->
        <li>
          <a href="#" style="color: white">Finish P. O. <b class="caret"></b></a>
          <ul>
            <li>
              <a id="newFinishPOLink" href="#" style="color: white">New Finish P.O. Entry</a>
            </li>
            <li>
              <a id="allFinishPOLink" href="#" style="color: white">All Finish P.O. Entries</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" style="color: white">Pending P. O. <b class="caret"></b></a>
          <ul>
            <li>
              <a id="pendingFinishPOLink" href="#" style="color: white">All Pending P.O.</a>
            </li>
            <li>
              <a id="lotwiseReceivalFinishPOLink" href="#" style="color: white">Lotwise Receivals</a>
            </li>
          </ul>
        </li>
        <!-- <li>
          <a id="lotwisePOReceivalsLink" href="#" style="color: white">Lotwise P.O. Receivals</a>
        </li> -->
        <li>
          <a id="allFinishGRLink" href="#" style="color: white">All Finish G. R.</a>
        </li>
      </ul>
    </li>

    <!-- Stock -->
    <li id="stockOptions">
      <a href="#">
        Stock
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="stockMasterLink" href="#" style="color: white">Stock Master</a>
        </li>
        <!-- <li>
          <a id="stockMasterLotNoWiseLink" href="#" style="color: white">Stock Master - Lot No.Wise</a>
        </li> -->
      </ul>
    </li>

    <!-- Sales -->
    <li id="salesOptions">
      <a href="#">
        Sales
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="newSalesPOLink" href="#" style="color: white">New Sales P.O. Entry</a>
        </li>
        <li>
          <a id="allSalesPOEntriesLink" href="#" style="color: white">All Sales P.O. Entries</a>
        </li>
      </ul>
    </li>

    <!-- Dispatch -->
    <li id="dispatchOptions">
      <a href="#">
        Dispatch
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="pendingDispatchLink" href="#" style="color: white">Pending Dispatch</a>
        </li>
        <li>
          <a id="lrNoEntryLink" href="#" style="color: white">LR No. Entry</a>
        </li>
        <li>
          <a id="allDispatchesListLink" href="#" style="color: white">All Dispatches</a>
        </li>
        <li>
          <a id="allGrListLink" href="#" style="color: white">All G.R.</a>
        </li>
      </ul>
    </li>

    <!-- Reports -->
    <li id="reportOptions">
      <a href="#">
        Reports
        <b class="caret"></b>
      </a>
      <ul>
        <!-- Purchase Reports -->
        <li>
          <a href="#" style="color: white">Purchase Reports<b class="caret"></b></a>
          <ul>
            <li>
              <a id="greyPurchaseReportsLink" href="#" style="color: white">Grey Purchase</a>
            </li>
            <li>
              <a id="finishPurchaseReportsLink" href="#" style="color: white">Finish Purchase</a>
            </li>
          </ul>
        </li>
        <!-- Stock Reports -->
        <li>
          <a id="stockReportLink" href="#" style="color: white">Stock Report</a>
        </li>
        <!-- Sales Reports -->
        <li>
          <a href="#" style="color: white">Sale Reports<b class="caret"></b></a>
          <ul>
            <li>
              <a id="saleOrderReportsLink" href="#" style="color: white">Pending Sale Orders</a>
            </li>
            <li>
              <a id="saleRegisterLink" href="#" style="color: white">Sales Register</a>
            </li>
          </ul>
        </li>
        <!-- Dyeing Reports -->
        <li>
          <a href="#" style="color: white">Dyeing Report<b class="caret"></b></a>
          <ul>
            <li>
              <a id="dyeingReportsLink" href="#" style="color: white">Dyeing Shrinage</a>
            </li>
          </ul>
        </li>
        <!-- Other Reports -->
        <!-- <li>
          <a href="#" style="color: white">GR Reports<b class="caret"></b></a>
          <ul>
            <li>
              <a id="saleGrReportsLink" href="#" style="color: white">Sale G. R.</a>
            </li>
            <li>
              <a id="finishGrReportsLink" href="#" style="color: white">Finish Purchase G. R. </a>
            </li>
          </ul>
        </li> -->
      </ul>
    </li>

    <!-- Utilities -->
    <li id="utilitiesOptions">
      <a href="#">
        Utilities
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="utilQSCLink" href="#" style="color: white">Quality/Shade/Color</a>
        </li>
        <li>
          <a id="utilPartyListLink" href="#" style="color: white">Parties List</a>
        </li>
        <li>
          <a id="utilDyeingNamesLink" href="#" style="color: white">Dyeing List</a>
        </li>
        <li>
          <a id="utilBrokerNamesLink" href="#" style="color: white">Brokers List</a>
        </li>
        <li>
          <a id="utilTransportNamesLink" href="#" style="color: white">Transport List</a>
        </li>
        <li>
          <a id="stickerPrintsLink" href="#" style="color: white">Print Sticker</a>
        </li>
        <li id="usersLI">
          <a id="usersLink" href="#" style="color: white">Users</a>
        </li>
      </ul>
    </li>
    <li id="helpOptions">
      <a href="#">
        Help
        <b class="caret"></b>
      </a>
      <ul>
        <li>
          <a id="contactDeveloperLink" href="#" style="color: white">Contact Developer</a>
        </li>
      </ul>
    </li>
    <li>
      <a onclick="promptUserForLogout()" href="#">
        Close App
      </a>
    </li>
  </ul>
</div>

<script>
  var dots = "";
  var loc = window.location.pathname;
  var temp = loc.split("components/");
  var temp2 = temp[1].split("/");
  var lastElement = temp2[temp2.length - 1];

  //Homepage
  var homepageLink = "";

  //Grey Purchase
  var newYarnPurchaseLink = "";
  var lotNoEntryLink = "";
  var allYarnPurchaseLink = "";

  //Dyeing
  var dyeingPendingLink = "";
  var dyeingReceivalLotNoWiseLink = "";
  // var dyeingReceivalBillNoWiseLink = "";

  //Finish
  var openingStockEntryLink = "";
  var allOpeningStockEntryLink = "";
  var newFinishPOLink = "";
  var allFinishPOLink = "";
  var pendingFinishPOLink = "";
  var lotwiseReceivalFinishPOLink = "";
  var allFinishGRLink = "";

  //Stock
  var stockMasterLink = "";
  // var stockMasterLotNoWiseLink = "";

  //Sales
  var newSalesPOLink = "";
  var allSalesPOEntriesLink = "";

  //Sales
  var pendingDispatchLink = "";
  var lrNoEntryLink = "";
  var allDispatchesListLink = "";
  var allGrListLink = "";

  // Reports
  //Purchase 
  var greyPurchaseReportsLink = '';
  var finishPurchaseReportsLink = '';

  //Stock
  var stockReportLink = "";

  //Sales 
  var saleOrderReportsLink = "";
  var saleRegisterLink = "";

  //Dyeing
  var dyeingReportsLink = "";

  //GR
  // var finishGrReportsLink = "";
  // var saleGrReportsLink = "";

  //Utilities
  var utilQSCLink = "";
  var utilPartyListLink = "";
  var utilDyeingNamesLink = "";
  var utilBrokerNamesLink = "";
  var utilTransportNamesLink = "";
  var stickerPrintsLink = "";
  var usersLink = "";

  //Help
  var contactDeveloperLink = "";

  //dots = dots + "../";
  for (var i = 0; i < temp2.length - 1; i++) dots = dots + "../";

  //Homepage
  homepageLink = dots + "home/homePage.html";
  //Grey Purchase
  newYarnPurchaseLink = dots + "yarnpurchase/po/newPO/newPO.html";
  lotNoEntryLink = dots + "yarnpurchase/lotNo/lotNoEntry.html";
  allYarnPurchaseLink = dots + "yarnpurchase/po/list/allPO.html";

  //Dyeing
  dyeingPendingLink = dots + "dyeing/pending/pendingDyeingReceival.html";
  dyeingReceivalLotNoWiseLink = dots + "dyeing/receivedLotNo/dyeingReceivalLotNoWise.html";
  // dyeingReceivalBillNoWiseLink = dots + "dyeing/receivedBillNo/dyeingReceivalBillNoWise.html";

  //Finish
  openingStockEntryLink = dots + "finish/newEntryOpeningStock/openingStockEntry.html";
  allOpeningStockEntryLink = dots + "finish/openingStock/listOpeningStock/allOpeningStockEntry.html";
  newFinishPOLink = dots + "finish/finishPO/newFinishPO/newFinishPO.html";
  allFinishPOLink = dots + "finish/finishPO/listAllFinishPO/allFinishPOList.html";
  pendingFinishPOLink = dots + "finish/pending/allPending/allPendingReceivals.html";
  lotwiseReceivalFinishPOLink = dots + "finish/pending/lotwiseReceival/allLotwiseFinishPOReceivals.html"
  allFinishGRLink = dots + "finish/gr/allFinishGrList.html";

  //Stock
  stockMasterLink = dots + "stock/list/stockMaster.html";
  // stockMasterLotNoWiseLink = dots + "stock/list/stockMasterLotNoWise.html";

  //Sales
  newSalesPOLink = dots + "sales/new/newSalesPO.html";
  allSalesPOEntriesLink = dots + "sales/list/allSalesPOEntries.html";

  //Dispatch
  pendingDispatchLink = dots + "dispatch/pending/pendingDispatchList.html";
  lrNoEntryLink = dots + "dispatch/lrNo/lrNoEntry.html";
  allDispatchesListLink = dots + "dispatch/list/allDispatchesList.html";
  allGrListLink = dots + "dispatch/gr/allGrList.html";

  //Reports
  //Purchase report
  greyPurchaseReportsLink = dots + "reports/purchase/grey/greyPurchaseReport.html";
  finishPurchaseReportsLink = dots + "reports/purchase/finish/finishPurchaseReport.html";

  // Stock
  stockReportLink = dots + "reports/stock/stockReport.html";

  //Sales Report
  saleOrderReportsLink = dots + "reports/sales/po/poReport.html";
  saleRegisterLink = dots + "reports/sales/saleregister/saleRegisterReport.html"

  //Dyeing Reports
  dyeingReportsLink = dots + "reports/dyeing/shrinkage/dyeingShrinkage.html";

  //GR Reports
  // finishGrReportsLink = dots + "reports/gr/finishGr/finishGrReport.html";
  // saleGrReportsLink = dots + "reports/gr/salesGr/salesGrReport.html";

  //Utilities
  utilQSCLink = dots + "utilities/qSC/qSC.html";
  utilPartyListLink = dots + "utilities/greyPurchaseParty/greyPurchaseParty.html";
  utilDyeingNamesLink = dots + "utilities/dyeingNames/dyeingNames.html";
  utilBrokerNamesLink = dots + "utilities/brokerNames/brokerNames.html";
  utilTransportNamesLink = dots + "utilities/transportNames/transportNames.html";
  stickerPrintsLink = dots + "utilities/sticker/stickerPrints.html";
  usersLink = dots + "utilities/users/usersPage.html";

  //help
  contactDeveloperLink = dots + "utilities/developer/contactDeveloper.html";

  //Homepage
  var d1 = document.getElementById("homepageLink")
  d1.setAttribute('href', homepageLink);

  //Grey Purchase
  d1 = document.getElementById("newYarnPurchaseLink")
  d1.setAttribute('href', newYarnPurchaseLink);

  d1 = document.getElementById("lotNoEntryLink")
  d1.setAttribute('href', lotNoEntryLink);

  d1 = document.getElementById("allYarnPurchaseLink")
  d1.setAttribute('href', allYarnPurchaseLink);

  //Dyeing  
  d1 = document.getElementById("dyeingPendingLink")
  d1.setAttribute('href', dyeingPendingLink);

  d1 = document.getElementById("dyeingReceivalLotNoWiseLink")
  d1.setAttribute('href', dyeingReceivalLotNoWiseLink);

  // d1 = document.getElementById("dyeingReceivalBillNoWiseLink")
  // d1.setAttribute('href', dyeingReceivalBillNoWiseLink);

  //Finish 
  d1 = document.getElementById("openingStockEntryLink")
  d1.setAttribute('href', openingStockEntryLink);

  d1 = document.getElementById("allOpeningStockEntryLink")
  d1.setAttribute('href', allOpeningStockEntryLink);

  d1 = document.getElementById("newFinishPOLink")
  d1.setAttribute('href', newFinishPOLink);

  d1 = document.getElementById("allFinishPOLink")
  d1.setAttribute('href', allFinishPOLink);

  d1 = document.getElementById("pendingFinishPOLink")
  d1.setAttribute('href', pendingFinishPOLink);

  d1 = document.getElementById("lotwiseReceivalFinishPOLink")
  d1.setAttribute('href', lotwiseReceivalFinishPOLink);

  d1 = document.getElementById("allFinishGRLink")
  d1.setAttribute('href', allFinishGRLink);

  //Stock
  d1 = document.getElementById("stockMasterLink")
  d1.setAttribute('href', stockMasterLink);

  // d1 = document.getElementById("stockMasterLotNoWiseLink")
  // d1.setAttribute('href', stockMasterLotNoWiseLink);

  //Sales
  d1 = document.getElementById("newSalesPOLink")
  d1.setAttribute('href', newSalesPOLink);

  d1 = document.getElementById("allSalesPOEntriesLink")
  d1.setAttribute('href', allSalesPOEntriesLink);

  //Dispatch
  d1 = document.getElementById("pendingDispatchLink")
  d1.setAttribute('href', pendingDispatchLink);

  d1 = document.getElementById("lrNoEntryLink")
  d1.setAttribute('href', lrNoEntryLink);

  d1 = document.getElementById("allDispatchesListLink")
  d1.setAttribute('href', allDispatchesListLink);

  d1 = document.getElementById("allGrListLink")
  d1.setAttribute('href', allGrListLink);

  //Reports
  //Purchase report
  d1 = document.getElementById("greyPurchaseReportsLink")
  d1.setAttribute('href', greyPurchaseReportsLink);

  d1 = document.getElementById("finishPurchaseReportsLink")
  d1.setAttribute('href', finishPurchaseReportsLink);

  // Stock Report
  d1 = document.getElementById("stockReportLink")
  d1.setAttribute('href', stockReportLink);

  //Sales report
  d1 = document.getElementById("saleOrderReportsLink")
  d1.setAttribute('href', saleOrderReportsLink);

  d1 = document.getElementById("saleRegisterLink")
  d1.setAttribute('href', saleRegisterLink);

  //Dyeing report
  d1 = document.getElementById("dyeingReportsLink")
  d1.setAttribute('href', dyeingReportsLink);

  //GR Reports
  // d1 = document.getElementById("finishGrReportsLink")
  // d1.setAttribute('href', finishGrReportsLink);

  // d1 = document.getElementById("saleGrReportsLink")
  // d1.setAttribute('href', saleGrReportsLink);

  //Utilities
  d1 = document.getElementById("utilQSCLink")
  d1.setAttribute('href', utilQSCLink);

  d1 = document.getElementById("utilPartyListLink")
  d1.setAttribute('href', utilPartyListLink);

  d1 = document.getElementById("utilDyeingNamesLink")
  d1.setAttribute('href', utilDyeingNamesLink);

  d1 = document.getElementById("utilBrokerNamesLink")
  d1.setAttribute('href', utilBrokerNamesLink);

  d1 = document.getElementById("utilTransportNamesLink")
  d1.setAttribute('href', utilTransportNamesLink);

  d1 = document.getElementById("stickerPrintsLink")
  d1.setAttribute('href', stickerPrintsLink);

  d1 = document.getElementById("usersLink")
  d1.setAttribute('href', usersLink);

  d1 = document.getElementById("contactDeveloperLink")
  d1.setAttribute('href', contactDeveloperLink);

  if (localStorage.getItem("isAdmin") == 0) displayElement("usersLI", false)
  else if (localStorage.getItem("isAdmin") == 1) displayElement("usersLI", true)

</script>