<html>

<body>
    <div class="row rRLM">
        <div class="col-md-12">
            <div class="row rRLM p-R5">
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped" id="viewStockTable" style="margin-bottom: 0px;">
                        <thead>
                            <tr>
                                <th class="col-md-3">Quality</th>
                                <th class="col-md-2">Shade</th>
                                <th class="col-md-1">Color</th>
                                <th class="col-md-2">Condition</th>
                                <th class="col-md-1">Lot No.</th>
                                <th class="col-md-1">Roll No.</th>
                                <th class="col-md-1">Qty</th>
                                <th class="col-md-1">Details</th>
                            </tr>
                        </thead>
                        <tbody id="viewStockTableBody">
                        </tbody>
                        <tfoot>
                            <th class="col-md-3">Quality</th>
                            <th class="col-md-2">Shade</th>
                            <th class="col-md-1">Color</th>
                            <th class="col-md-2">Condition</th>
                            <th class="col-md-1">Lot No.</th>
                            <th class="col-md-1">Roll No.</th>
                            <th class="col-md-1">Qty</th>
                            <th class="col-md-1">Details</th>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>