<html>

<body>
    <div class="row rRLM">
        <div class="col-md-12">
            <div class="card">
                <div class="row rRLM" style="margin-right: 0px; margin-left: 0px;">
                    <div class="col-md-2">
                        <label>P.O. No.</label>
                        <input type="text" class="form-control" placeholder="Bill Number" id="viewBillNumber"
                            disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="p-L5">Order Dt.</label>
                        <input type="text" class="form-control" placeholder="Order Date" id="viewDateOfSalePO"
                            disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="p-L5">Delivery Dt.</label>
                        <input type="text" class="form-control" placeholder="Delivery Date" id="viewDateOfDelivery"
                            disabled />
                    </div>
                    <div class="col-md-4">
                        <label class="p-L5">Finish Party</label>
                        <input type="text" class="form-control" placeholder="Party Name" id="viewFinishPartyName"
                            disabled />
                    </div>
                    <div class="col-md-2">
                        <label class="p-L5">Broker</label>
                        <input type="text" class="form-control" placeholder="Broker Name" id="viewBrokerName"
                            disabled />
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row rRLM">
                    <div style="text-align: center; font-size: 1.3em;">
                        <b>Sale P.O. Details </b>
                    </div>
                </div>
                <div class="row rRLM p-R5">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped" id="viewfinishSalePODetailsTable"
                            style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Quality</th>
                                    <th class="col-md-2">Shade No</th>
                                    <th class="col-md-1">Color</th>
                                    <th class="col-md-1">Condition</th>
                                    <th class="col-md-2">Net Qty</th>
                                    <th class="col-md-1">Rate/m</th>
                                    <th class="col-md-2">Total</th>
                                </tr>
                            </thead>
                            <tbody id="viewfinishSalePODetailsTableBody">
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th>
                                    <input type="number" id="viewTotalNetWt"
                                        class="form-control inputProgramCardWithColMd" value="0" disabled />
                                </th>
                                <th></th>
                                <th>
                                    <input type="number" id="viewNetTotal"
                                        class="form-control inputProgramCardWithColMd" value="0" disabled />
                                </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row rRLM p-R5">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped" style="margin-bottom: 0px;">
                            <thead>
                                <tr>
                                </tr>
                            </thead>

                            <tfoot>
                                <th class="col-md-12">
                                    <input id="editButton" type="button" class="btn btn-secondary btn-fill view"
                                        value="Edit Order"
                                        onclick="alert('Edit Option is available only for Admin User.. Coming soon...')" />
                                    <input id="printButton" type="button" class="btn btn-success btn-fill view"
                                        value="Print" onclick="printInvoiceData()" />
                                </th>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>