<!DOCTYPE html>
<html lang="en">

<body>
  <div class="row rRLM">
    <div class="col-md-12">
      <div class="card">
        <div class="row rRLM">
          <div style="text-align: center; font-size: 1.3em;">
            <b>WARP Grey </b>
          </div>
        </div>
        <div class="row rRLM p-R5">
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" id="editWarpTable" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th class="col-md-2">Quality</th>
                  <th class="col-md-2">Denier</th>
                  <th class="col-md-2">Shade No</th>
                  <th class="col-md-2">Lot No.</th>
                  <th class="col-md-2">Color</th>
                  <th class="col-md-2">Qty Selected</th>
                </tr>
              </thead>
              <tbody id="editWarpTableBody"></tbody>
              <tfoot>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2">Total Warp Wt.</th>
                <th class="col-md-2">
                  <input type="number" id="editWarpTotalWt" class="form-control " value="0" disabled />
                </th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row rRLM">
          <div style="text-align: center; font-size: 1.3em;">
            <b>WEFT Grey </b>
          </div>
        </div>
        <div class="row rRLM p-R5">
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" id="editWeftTable" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th class="col-md-2">Quality</th>
                  <th class="col-md-2">Denier</th>
                  <th class="col-md-2">Shade No</th>
                  <th class="col-md-2">Lot No.</th>
                  <th class="col-md-2">Color</th>
                  <th class="col-md-2">Qty Selected</th>
                </tr>
              </thead>
              <tbody id="editWeftTableBody"></tbody>
              <tfoot>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2">Total Weft Wt.</th>
                <th class="col-md-2">
                  <input type="number" id="editWeftTotalWt" class="form-control " value="0" disabled />
                </th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row rRLM p-R5">
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped" style="margin-bottom: 0px;">
              <thead>
                <tr>
                  <th class="col-md-2"></th>
                  <th class="col-md-2"></th>
                  <th class="col-md-2"></th>
                  <th class="col-md-2"></th>
                  <th class="col-md-2"></th>
                  <th class="col-md-2"></th>
                </tr>
              </thead>
              <tfoot>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2"></th>
                <th class="col-md-2">Total Net Wt.</th>
                <th class="col-md-2">
                  <input type="number" id="editTotalNetWt" class="form-control " value="0" disabled />
                </th>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>


</html>